.c-more-info {
  border-top: 2px solid $primary;
  padding-top: $gutter-sml;

  &__wifi,
  &__newsletter,
  &__press {
    margin-bottom: $sml-row-gap * 2;
  }

  &__wifi {
    &::after {
      content: '';
      background-size: cover;
      background: url('../images/icons/wifi.svg') no-repeat;
      width: 100px;
      height: 100px;
      display: inline-block;
    }
  }

  &__email-input {
    border: 1px solid $septenary;
    padding: 6px 10px;
    width: 100%;
    margin-bottom: 10px;
  }

  &__submit {
    background: $septenary;
    color: $secondary;
    text-transform: uppercase;
    padding: 8px 10px;
    border: 0;
    width: 100%;

    @include av-mq(lap-and-up) {
      width: auto;
      float: right;
    }
  }
}
