.c-reservation {
  color: $secondary;
  background: $septenary;
  margin: 2px 0 10px;

  h2 {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 1em;

    @include av-mq(lap-and-up) {
      margin-bottom: 0;
    }
  }

  a {
    color: $secondary;
  }

  &__contact {
    @include av-mq(lap-and-up) {
      border-left: 2px solid $secondary;
      padding-left: 20px;
      font-size: 16px;
    }

    a {
      display: block;
    }
  }

  &__field-container {
    @include av-mq(lap-and-up) {
      display: block;
    }

    @include av-mq(desk) {
      display: inline-block;
    }
  }

  &__field {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;

    @include av-mq(palm) {
      width: 48%;
    }

    @include av-mq(lap-and-up) {
      width: auto;
    }

    &--arrival,
    &--departure {
      span {
        position: relative;
        display: inline-block;
        background: url('../images/icons/calendar.svg') no-repeat;
        background-size: cover;
        width: 35px;
        height: 33px;
        overflow: hidden;
        vertical-align: middle;
        margin-right: 5px;
      }

      input {
        position: absolute;
        right: 0;
        height: 100%;
        opacity: 0;
      }
    }

    &--adults,
    &--children {
      &::before {
        content: '';
        display: inline-block;
        background: url('../images/icons/list.svg') no-repeat;
        background-size: cover;
        width: 27px;
        height: 33px;
        overflow: hidden;
        vertical-align: middle;
        margin-right: 5px;
      }

      select {
        color: $secondary;
        border: 0;
        background: url('../images/icons/arrowhead.svg') no-repeat $septenary;
        background-size: 25px;
        background-position: 100% 0%;
        padding-right: 30px;
      }
    }
  }
}
