// MAIN COLOURS
$primary: #001c33;
$secondary: #fff;
$tertiary: #b0adae;
$quaternary: #ff6f02;
$quinary: #eee;
$senary: #f5fafd;
$septenary: #605a5c;
$octonary: #ef0000;
$nonary: #000;
$denary: #000;

// FONT SIZES
$copy-large: 21px;
$copy-normal: 14px;
$copy-small: 14px;
$copy-xsmall: 12px;

// GRID
$gutter-sml: 20px;
$gutter-med: 30px;
$gutter-lrg: 30px;

$sml-row-gap: 20px;
$med-row-gap: 30px;
$lrg-row-gap: 30px;

$av-widths: (
  2,
  3,
  4,
  6,
  12
);

$av-breakpoints: (
  'thumb':        'screen and (max-width: 499px)',
  'palm':         'screen and (min-width: 500px) and (max-width: 800px)',
  'palm-and-up':  'screen and (min-width: 500px)',
  'pocket':       'screen and (max-width: 800px)',
  'lap':          'screen and (min-width: 801px) and (max-width: 1024px)',
  'lap-and-up':   'screen and (min-width: 801px)',
  'portable':     'screen and (max-width: 1024px)',
  'desk':         'screen and (min-width: 1025px)',
  'wide':         'screen and (min-width: 1160px)',
  'retina':       '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)'
);

$av-enable-grid-auto: true;
$av-enable-grid-middle: true;
$av-enable-grid-flush: true;

// FONTS
$family-base: helvetica, arial, sans-serif;
$base-font-size-sml: 14px;
$base-font-size-med: 14px;

// Z_INDEX
$first-index: 99;
$second-index: 999;
$third-index: 9999;
